.wrapper {
  background: #000;
  color: #a0a0a0;
  box-sizing: border-box;
  padding: 10% 10% 5%;
}

.name {
  font-size: 2.4em;
  text-transform: capitalize;
  font-weight: 700;
}

img {
  width: 80%;
  margin: 0 auto;
  display: block;
}

.spec {
  font-weight: 500;
  font-size: 0.85em;
}

p {
  line-height: 25px;
}
