.container {
  .header {
    display: flex;
    justify-content: space-between;
    font-size: 0.6em;
    align-items: center;
    min-width: 266px;
    .title {
      text-transform: uppercase;
      border: 1px solid #fff;
      padding: 7px;
      font-weight: 500;
    }
    .hint {
      display: flex;
      width: 15%;
      margin: 0 0 0 auto;
      align-items: center;
      font-weight: 600;
      min-width: 160px;
      img {
        display: block;
        margin: 0 10px;
        width: 24px;
        height: 30px;
      }
    }
  }
  .main {
    display: flex;
    margin: 5% auto 0;
    width: 100%;
    .pokemonButtons {
      width: 60%;
      margin: 12% 3% 0 0;
    }
    .card {
      width: 38%;
      margin: 0 0 0 auto;
      font-weight: 600;
      min-width: 160px;
    }
  }
}
