@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 100px 16.67%;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background: #131313;
  color: #fff;
}
